@charset "UTF-8";
:root {
    --cor01: #49a09d;
    --cor02: #5f2c82;
}
@media screen and (min-width: 768px) and (max-width: 992px){
    body {
        background-image: linear-gradient(to top, var(--cor01), var(--cor02));
    }
    #login {
        width: 80vw;
    }
    #imagem {
        float: left;
        width: 30%;
        height: 100%;
    }
    #formulario {
        float: right;
        width: 70%;
    }
    #formulario p {
        margin-bottom: 50px;
    }
    .back {
        width: 46vw;
    }
    input {
        width: 40vw;
    }
    .backlink {
        width: 46vw;
        height: 50px;
        line-height: 50px;
        font-size: 1.2em;
        font-weight: bold;
    }
    .linkback {
        width: 46vw;
        height: 50px;
        line-height: 50px;
        font-size: 1.2em;
        font-weight: bold;
    }
}
@media screen and (min-width:992px) {
    body {
        background-image: linear-gradient(to top, var(--cor01), var(--cor02));
    }
    #login {
        width: 950px;
    }
    #imagem {
        float: left;
        width: 30%;
        height: 100%;
    }
    #formulario {
        float: right;
        width: 70%;
    }
    #formulario p {
        margin-bottom: 50px;
    }
    .back {
        width: 32vw;
    }
    input {
        width: 28vw;
    }
    .backlink {
        width: 32vw;
        height: 50px;
        line-height: 50px;
        font-size: 1.2em;
        font-weight: bold;
    }
    .linkback {
        width: 32vw;
        height: 50px;
        line-height: 50px;
        font-size: 1.2em;
        font-weight: bold;
    }
}